h1{
    text-align: center;
    color: orange;
    background-color: black;
    font-weight: bold;
}

h3{
    color: orange;
    background-color: black;
}

body{
    background-color: black;
}

a{
    text-align: center;
}

p{
    text-align: center;
}